// showing default values
$accentColor = #680909
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc

.custom-block.tip
    background-color: #e4e9ed !important;
    border-color: #294c6e !important;
    color: #18314a !important;